doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/styles/style.css')
    
  body
  
  nav.navbar.navbar-expand-lg.navbar-light.bg-menu
   a.navbar-brand(href='#')
    img(src='/img/logo.png' width='40px')
   button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon      
  
   .collapse.navbar-collapse#navbarSupportedContent  
    ul.navbar-nav.mr-auto
     li.nav-item.active
      a(href='/').nav-link Home
     li.nav-item
      a(href='/sobre/').nav-link Sobre
     
  .container


    block content

    footer
     .row
      .col-xs-12
       small &copy; Ronaldo Teixeira 2020


    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/bootstrap/js/bootstrap.js')  