extends layout

block content



  #banner.page-header
    
    .row

        .col-lg-6

            p Encontre lugares para trabalhar com wifi perto de você!

  .row

    .col-xs-12.col-sm-8

        p List area 

    .col-xs-12.col-sm-4.coluna

        p.lead você encontra lugares.